<?xml version="1.0"?>
<!--
    Nexcess.net TwoFactorAuth Extension for Magento
    Copyright (C) 2014  Nexcess.net L.L.C.

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<config>
    <modules>
        <Nexcessnet_Twofactorauth>
            <version>0.0.0</version>
        </Nexcessnet_Twofactorauth>
    </modules>
    <default>
        <!-- config defaults -->
    </default>
    <global>
        <blocks>
            <twofactorauth>
                <class>Nexcessnet_Twofactorauth_Block</class>
            </twofactorauth>
        </blocks>
        <helpers>
            <twofactorauth>
                <class>Nexcessnet_Twofactorauth_Helper</class>
            </twofactorauth>
        </helpers>
        <models>
            <twofactorauth>
                <class>Nexcessnet_Twofactorauth_Model</class>
            </twofactorauth>
        </models>
        <events>
        </events>
    </global>
</config>
